[Desktop Entry]
Name=Firefox (mine)
Exec=/usr/lib/firefox-esr/firefox-esr --kiosk %u
Icon=firefox-esr
Type=Application
Categories=Network;WebBrowser;
